body {
    padding-top: 20px;
    background-color: #0184dc;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    background-color: #0184dc;
    color: #fff;
}

section#que-es {
    background-color: #FFF;
}

.fa {
    cursor: pointer;
}

section .fa {
    color: #0184dc;
    position: relative;
}

.arrow {
    font-size: 4em;
    /*position: relative;*/
}

#au-logo {
    height: 250px;
}

.center-aligned {
    text-align: center;
}

#title, #subtitle {

}

#div-title {
    margin-top: 40px;
}

#title {
    font-size: 4em;
}

#subtitle {
    font-size: 2em;
}

h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

p {
    line-height: 180%;
    text-align: justify;
}

#en-accion {
    background-color: #0184dc;
    color: #fff;
}

#en-accion .fa {
    color: #FFF;
}

#quienes {
    background-color: #FFF;
    color: #000;
}
